<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body ?disabled="{{disabled}}" longProp="{{bob.there}}">
    <butt />
    {{something.has.a.prop}} {{content}}

    <hc:if i="!emoji">There is NOT an emoji here: {{emoji}}</hc:if>
    <hc:if i="emoji">There is YES an emoji here: {{emoji}}</hc:if>

    <hc:loop i="loopable" v="foo">
      Foo.bar: {{foo.bar}}<br />
      <prop-check name="force {{foo.zing}}" />
    </hc:loop>
    <hc:empty i="loopable"> No items available </hc:empty>
  </body>
</html>
